//Boo Theme footer.scss
@import "variables";

.site-footer {
	width: 100%;
	min-height: 80px;
	line-height: 40px;
	background: $theme-bg-dark;
	color: $theme-color-inverse;
	text-align: center;
	font-family: $font-family-wrap;
}

.site-footer a {
	color: $theme-color-inverse-2;
	text-decoration: underline;
	text-decoration-style: dotted;
}