//Boo Theme footer.scss
.site-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 80px;
	line-height: 40px;
	background: #333;
	color: #fff;
	text-align: center;
	font-family: 'Nixie One', cursive;
}

.site-footer a {
	color: #e2e2e2;
	text-decoration: underline;
	text-decoration-style: dotted;
}