//Boo theme header.scss
@import "variables";
.main-header.no-cover {
	display: none;
}
.main-header {
	min-height: 500px;
	background-position: center center;
	background-size: cover;
	background-color: $theme-bg-darker;
}
.main-header-content {
	padding: 20px 0;	
}
.page-title {
	color: $theme-color-inverse;
	font-size: $font-size-site-header;
	line-height: 100%;
	text-align: center;
	font-family: $font-family-wrap;
	text-shadow: 2px 1px 2px $theme-color-emphasis;
}
.page-description {
	color: $theme-color-inverse-2;
	font-size: $font-size-site-secondary;
	line-height: 100%;
	text-align: center;
	font-family: $font-family-wrap;
	padding: 10px 20%;
	text-shadow: 2px 1px 2px $theme-color-emphasis;
}
.main-nav {
	text-align: center;
}