@import "variables";
@import "reset";
@import "nav";
@import "header";
@import "footer";
@import "post";
@import "page";
@import "aside";

* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	font-family: $font-family-content;
	font-size: $font-size-base;
	background: $theme-bg;
}
p {
	margin: $baseline 0;
}
ul {
	list-style: circle inside;
	margin-bottom: $baseline;
}
ul ul {
	list-style: disc inside;
	padding-left: 20px;
	margin-bottom: 0;
}
ol {
	list-style: numbers inside;
	margin-bottom: $baseline;
}
ol ol {
	list-style: lower-roman inside;
	padding-left: 20px;
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h1 {
	font-size: 200%;
	line-height: 180%;
}
h2 {
	font-size: 175%;
	line-height: 180%;
}
h3 {
	font-size: 140%;
	line-height: 140%;
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}
blockquote {
	background: $theme-bg-lighter;
	padding: $baseline;
	color: $theme-color-emphasis;
	font-style: italic;
	margin-bottom: $baseline;
}
code {
	line-height: 90%;
	font-size: 80%;
	background: $theme-bg-lighter;
	color: $theme-color-subdue;
	border: 1px solid $theme-color-inverse-2;
	font-family: "Courier New", courier, monospace;
	border-radius: 2px;
}
img {
	max-width: 100%;
}
.hidden {
	display: none;
}

//https://css-tricks.com/snippets/css/clear-fix/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

