//Boo theme nav.scss
.nav {
	width: 100%;	
	background: #222;
	text-align: center;
}
.nav a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 120%;
	line-height: 40px;
	padding: 0 20px;
	font-family: 'Nixie One', cursive;
}
.nav-current a {
	background: #444;
	text-shadow: 2px 1px 2px #222;
}
.nav ul {
	margin: 0 auto;
}
.nav li {
	display: inline;
}
.nav li a:hover {
	background: #666;
	cursor: pointer;
	text-shadow: 2px 1px 2px #222;
}
.pagination {
	float: right;
	font-size: 80%;
}
