//Boo theme nav.scss
@import "variables";

.nav {
	width: 100%;	
	background: $theme-bg-darker;
	text-align: center;
}
.nav a {
	color: $theme-color-inverse;
	text-decoration: none;
	display: inline-block;
	font-size: 120%;
	line-height: 40px;
	padding: 0 20px;
	font-family: $font-family-wrap;
}
.nav-current a {
	background: $theme-bg-medium;
	text-shadow: 2px 1px 2px $theme-color-emphasis;
}
.nav ul {
	margin: 0 auto;
}
.nav li {
	display: inline;
}
.nav li a:hover {
	background: $theme-bg-light;
	cursor: pointer;
	text-shadow: 2px 1px 2px $theme-color-emphasis;
}
.pagination {
	float: right;
	font-size: 80%;
}
