//Boo theme post.scss
//Post styles for loop and single
@import "variables";

.extra-pagination {
	display:none;
}
.post-title {
	position: relative;
	font-size: 280%;
	line-height: 120%;
	font-family: $font-family-wrap;
}
.post-title a {
	text-decoration: none;
	color: $theme-color-emphasis;
}
.post-title a:hover {
	color: $theme-color-subdue;
}
.post {
	max-width: 980px;
	width: 100%;
	margin: 0 auto $baseline * 8;
}
.post-content p, .post-content li {
	font-size: 120%;
	line-height: 120%;
}
.post-content li li {
	font-size: 100%;
}
.post-excerpt {
	max-width: 620px;
	font-size: 140%;
	line-height: 120%;
	font-weight: 300;
	float: left;
	color: $theme-color-subdue;
}
.post-meta {
	font-family: $font-family-wrap;
	float: right;
	min-width: 300px;
	max-width: 300px;
	font-size: 120%;
	color: $theme-color-emphasis;
	text-align: center;
}
.post-meta a {
	color: $theme-color-emphasis;
	text-decoration: underline;
	text-decoration-style: dotted;
}
.author-thumb {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	height: 65px;
	width: auto;
	box-shadow: 1px 1px 2px $theme-bg-light;
}
.post-date {
	display: block;
}
.post-footer {
	text-align: center;
	margin-top: $baseline * 2;
	padding: $baseline * 4 0 $baseline * 2;
	border-top: 3px dotted $theme-color-inverse-2;
}
.post-footer .author-image a {
	display: inline-block;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	background-size: cover;
	background-position: center center;
	background-color: $theme-bg-lighter;
}
.post-footer .author h4 a {
	font-size: 150%;
	text-decoration: none;
	font-family: $font-family-wrap;
	font-weight: normal;
	color: $theme-color-subdue;
}
.post-footer .author p a {
	text-decoration: underline;
	text-decoration-style: dotted;
}
.post-footer .author p {
	font-size: 80%;
}
.post-footer .author-meta {
	font-size: 80%;
}
.share {
	margin: $baseline * 2 0;
}